
body{
  height:100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  outline: 0;
  background: #f2f2f2 !important;
}

html{
  height:100%;
  background: #f2f2f2 !important;
}

button{
  outline: none;
}
