
.change-btn,
.change-btn:hover,
.change-btn:focus{
  background-color: transparent;
  margin-top: -14px;
  color:#000;
}

.change-text{

  font-weight: 700;
  margin-left: 61px;
}

.change-imge {
  margin-top: 5px;
  margin-left: 20px;
  width:15px;
  height: 15px;
}

.invite-container .friend-name{
  margin-top: 15px;
  margin-right:104px;
}

.selected-text{
  color:#000;
}
