
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

body, html{
  margin:0;
}

.tab-bar{
    height: 2.8125rem;
    line-height: 2.8125rem;
    position: relative;
}

.list a {
    background-color: transparent;
    font-weight: 500;
    height:35px;
}

.discover-tit.text-center {
    font-size: 41px;
    font-weight: 900;
    margin-top: 26px;
}

.cir-wom{
  width: 56%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  line-height: 1.32;
  margin: 0px auto 42px;
}


  .app-store{
    width: 167.9px;
  	height: 55.1px;
  	object-fit: contain;
    margin-right:15px;
  }


.meet-container{
    background-color: #fff;
}

.padding-bottom-5{
    padding-bottom: 5rem;
}

.active{
    font-weight: 900;
    border-bottom:1px solid #4a4a4a;
}


button.invitation-btn,
button.invitation-btn:hover,
button.invitation-btn:focus
 {
    border: 1px solid #4a4a4a;
    border-radius: 100px;
    padding: 8px;
    width: 219px;
    margin-top: 5px;
    height: 45px;
    background-color: transparent !important;
    color:#4a4a4a !important;
}

.team-title {
  font-size: 40px;
  font-weight: 500;
  line-height: 0.6;
  margin-bottom: 5rem;
  color:#fff;
}

a.hi-btn,
.hi-btn:focus,
.hi-btn:hover {
  padding: 10px 28px;
  font-size: 24px;
  color: #ffffff;
  font-weight: 900;
  border-radius: 22.5px;
  background-color: #743cce;
}

.divider {
    height: 5px;
    background: #fff;
    margin: 66px 29%;
    text-align: center;
}

#team-container{
  background: url(/images/iStock-fullsize.jpg);
  padding: 16rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  margin-top: 61px;
}


p.fi-title {
    color: #5e5e5e;
    font-size: 2rem;
    text-align: center;
    font-weight: 200;
}

.cto-title {
    font-weight: bold;
    margin: 50px 0 9px;
    font-size: 36px;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.footer-sm{
  margin-top:6rem;
}


.small-divider {
    height: 1px;
    background: #979797;
    margin: -4px 12% 34px;
}


.member-name, .member-name:hover{
  margin-top: 10px;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #000;
  font-weight: 600;
}

.name-title{
  font-weight: bold;
  text-align: left ;
  margin-bottom: 10px;
}

.name-des1 {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
}

.on-hover-team-member{
  background-color: #fff;
  display: none;
  z-index: 20000;
  width: 350px;
  border: solid 4px #7041db;
  padding:20px 10px 15px 15px;
}

.member-photo-container:hover .border-on-hover{
  border: solid 4px #7041db;
}

.member-photo-container:hover .on-hover-team-member{
    position: absolute;
    display: inherit;
}

.more-title{
  margin-top: 49px !important;
}

.show-member-info{
  background-color: #fff;
  border: solid 4px #7041db;
  padding:20px 10px 15px 15px;
}

.hover-left{
  top: 0px;
  right: 200px;
}

.on-kassia{
  right:190px;
}

.hover-bottom-left{
  bottom: 70px;
  right: 200px;
}

.hover-right{
  top: 0px;
  left: 200px;
}

.hover-bottom-right{
  bottom: 70px;
  left: 200px;
}

.on-kris{
  left:320px;
}

.on-kass{
  right:310px;
}

.member-title{
    font-size: 13px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #000;
}

.int-cta {
    font-weight: 300;
    font-size: 26px;
    margin-bottom: 44px;
}

section#interested-sec {
    background: #c5e3f7;
    height: 264px;
    padding: 42px 0px;
}

.margin-top-2{
    margin-top:2rem !important;
}

.margin-top-8{
    margin-top:8rem !important;
}

.back-transparent{
    background-color: transparent !important;
}

.fit-pad{
    padding: 8px 25px !important;
}

.divider-team{
  height: 4px;
	background-color: #f2f2f2;
  margin:77px 22% 0 22%;
}

.team-des {
  margin-top:28px;
  font-size: 20px;
  margin-bottom: 54px;
  color: #000;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.fund-logo{
    width: 72.4px;
    height: 42.8px;
    object-fit: contain;
}

.margin-hr-6{
    margin: 0 6rem !important;
}

.job-title{
    font-size: 40px;
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.job-des{
    font-size: 21px;
    font-weight: 300;
    padding: 0 35px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.job-des strong{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

button.submit-btn {
    background: rgb(217,201,255);
    font-size: 12px;
    width: 100%;
    padding: 10px;
    display: block;
    border-radius: 100px;
    margin: 34px 0 6px;

}

.close-btn {
    background: transparent;
    font-size: 11px;
    font-weight: 200;
    padding:0;

}

p.fi-text {
    color: #5e5e5e;
    line-height: 1.5rem;
    font-size: 17px;
    font-weight: 400;
    margin-top: 50px;
}

.cta-container {
    padding-top: 29px;
    margin-bottom: 48px;
}

button.cta-btn {
    background: rgb(122,52,222);
    color: white;
    padding: 9px 33px;
    border-radius: 100px;
    font-size: 13px;
}



p.video-text {
    color: rgba(255,255,255,0.7);
    font-size: 20px;
}


.right{
  margin-top:5px;
}


.sm-foo{
  padding: 20px 44px;
}

.intr-btn{
  color:#4a4a4a !important;
  border-color:#4a4a4a !important;
}

.member-img{
  border-radius: 100%;
  width:66%;
}

#header-wrapper {
    margin-bottom: -1px;
}

.hover-bottom{
  bottom: 0 !important;
}

.member-title.sec-title {
    margin-top: -19px;
}

.ex-div-2.text-center {
    margin-left: -102px;
}

img.member-img.border-on-hover.exp-img {
    width: 31%;
}

.ex-div.text-center {
    margin-right: -124px !important;
}

img.member-img.border-on-hover.exp-img-k {
    width: 32%;
}


/*7*/
@media screen and (min-width:375px) and (max-width:413px){
  #team-container{
    padding: 4rem 0;
  }
  .member-img-m{
    width:102.41px;
    height:102.41px;
  }

  .member-name-m{
    padding-right:5rem;
  }

  .team-title{
    line-height: inherit;
  }

  .member-title{
    font-size: 13px;
    line-height: 12px;
  }

    .cto-title{
        font-size: 30px;
    }

    .job-des{
        font-size: 18px;
    }

    .job-title{
        font-size: 16px;
    }


    .team-des{
        font-size: 18px;
    }

    .team-title{
        font-size: 31px;
        line-height: 3rem;
        text-align:center;
        margin-bottom: 35px;
    }

    .job-des{
        padding: 0;
    }

    .divider{
        display: none;
    }

    .hi-btn{
        margin-top: 42px;
        font-weight: 900;
        padding:10px 59px !important;
    }

    .int-cta{
        margin:22px 0 40px;
    }

    .intr-btn{
        padding:8px 41px !important;
    }

    .sm-foo{
      margin-left:2rem;
    }

    .member-img-m{
      width:80.15px;
      height:79px;
    }

    .member-name-m{
      padding-right:50px;
      font-size: 11px;
    }

    .add-m{
      margin-top:22px !important;
    }

}

@media screen and (min-width:646px) and (max-width:693px){

  .member-name{
    font-size: 15px;
  }


}

@media screen and (min-width:641px) and (max-width:816px){
  .exp-img {
    width: 32% !important;
  }

  .exp-img-k {
    width: 34% !important;
  }

  .ex-div.text-center {
    margin-right: -197px !important;
  }
  .ex-div-2.text-center {
    margin-left: -179px !important;
}
}



@media screen and (min-width:817px) and (max-width:1024px){
  .exp-img {
    width: 32% !important;
  }

  .exp-img-k {
    width: 34% !important;
  }

  .ex-div.text-center {
    margin-right: -244px !important;
  }
  .ex-div-2.text-center {
    margin-left: -218px;
}


}

/*7plus*/

@media screen and (min-width:414px) and (max-width:640px){

  .more-title{
    margin-top: 0px !important;
  }

  #team-container{
    padding: 7rem 0;
  }
  .member-img-m{
    width:143.91px;
    height:143.91px;
  }

  .member-name-m{
    padding-right:5rem;
  }

  .team-title{
    line-height: inherit;
  }

  .member-img{
    width:40% !important;
  }

  .add-m,.add-d{
    margin-top:22px !important;
  }

  .ex-div.text-center, .ex-div-2{
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width:640px){

  .member-photo-container:hover .on-hover-team-member{
      display: none;
  }
}


@media screen and (min-width:378px ) and (max-width:412px){
  .add-c{
    margin-top:22px !important;
  }

  #team-container{
    padding: 8rem 0;
  }

}


@media screen and (min-width:640px ) and (max-width:880px){

  .hover-left{
    right: 130px;
  }

  .hover-bottom-left{
    right:130px;
  }

  .hover-right{
    left:130px;
  }

  .hover-bottom-right{
    left:130px !important;
  }

  .on-hover-team-member{
    width: 300px;
  }

}



/*iphone 5*/
@media screen and (max-width:413px) {

  #team-container{
    padding: 7rem 0;
  }
    .cto-title{
        font-size: 30px;
    }

    .ex-div.text-center,
    .ex-div-2.text-center {
     margin-right: 0 !important;
     margin-left: 0 !important;
  }

    .member-title{
      font-size: 13px;
      line-height: 12px;
    }

    .job-des{
        font-size: 18px;
    }

    .job-title{
        font-size: 16px;
    }

    .team-des{
        font-size: 18px;
    }

    .cir-wom{
      font-size: 18px;
      width:100%;
    }

    .discover-tit.text-center{
      font-size: 30px;
    }

    .team-title{
        font-size: 31px;
        line-height: 3rem;
        text-align:center;
        margin-bottom: 35px;
    }

    .job-des{
        padding: 0;
    }

    .divider{
        display: none;
    }


    .margin-hr-6{
        margin: 0 !important;
    }

    .hi-btn{
        margin-top: 42px;
        font-weight: 900;
        padding:10px 59px !important;
    }

    .int-cta{
        margin:22px 0 40px;
    }

    .member-img{
      width:40% !important;
    }

    .left{
      margin-left: 36px;
    }

    .intr-btn{
        padding:8px 41px !important;
    }

    .member-img-m{
      width:80.15px;
      height:79px;
    }

    .member-name-m{
      padding-right:50px;
      font-size: 11px;
    }
}
